<!DOCTYPE html>

<html lang="zh-CN">

<head>
    <style>
    *{
        margin: 0;
    }
    .nav {
        height: 50px;
        width: 100%;
        position: fixed;
        top: 0px;
        background-color: blue;
    }
    .main {
        margin-top: 50px;
    }
    .menu {
        width: 20px;
        height: 100%;
        position: fixed;
        left: 0;
        background-color: red;
    }
    </style>

</head>


<body>
    <div class="nav"></div>
    <div class="main">
        <p>hello {{.}}</p>
        <div class="menu"></div>
        <div class="content">
            {{block "content" . }}{{end}}
        </div>
    </div>
</body>


</html>