<!DOCTYPE HTML>


<html lang="zh-CN">

<head>
    <link rel="stylesheet" href="/css/index.css"></link>
    <script src = "/css/index.js"></script>
</head>
    
<body>
    <p>{{.data | safe}}</p>
</body>

</html>