<!DOCTYPE html>

<html lang="zh-CN">

<head>
    <title>嵌套</title>
</head>

<body>
       <hr/>
       {{template "ol.tmpl"}}
       <hr/>
       {{template "t.tmpl"}}
</body>


</html>

